<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RoomMatey Dashboard</title>
</head>
<body>
<h1>Welcome to RoomMatey</h1>
<h2>Household:
    <span th:text="${household.name}">[Household Name]</span>
</h2>

<ul>
    <li th:if="${household != null}">
        <a th:href="@{/household/manage}">Manage Household</a>
    </li>
    <li th:if="${household == null}">
        <a th:href="@{/household/setup}">Set Up Household</a>
    </li>
    <li><a th:href="@{/users/manage}">Manage Users</a></li>
    <li><a th:href="@{/bills/manage}">Manage Bills</a></li>
    <!-- add more links here as I build other features -->
</ul>
</body>
</html>
