<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RoomMatey Dashboard</title>
</head>
<body>
<h1>Welcome to RoomMatey</h1>

<ul>
    <li><a th:href="@{/household/create}">Create a Household</a></li>
    <li><a th:href="@{/users/register}">Register a User</a></li>
    <li><a th:href="@{/users/all}">View All Users</a></li>
    <li><a th:href="@{/bills/new}">Create a Bill</a></li>
    <li><a th:href="@{/bills/all}">View All Bills</a></li>
    <!-- add more links here as I build other features -->
</ul>
</body>
</html>
